/*
	by Giacomo Lawrance
	https://giacomolaw.me
 */

.navbar-brand img {
	max-height:30px;
	margin-right:5px;
}

.navbar-collapse.collapse.in { display: block!important; }

.headerimage {
	max-width: 4000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.main-content {
	min-height:300px;
}

.site-content {
	min-height: 60vh;
	margin-top: 40px;
}

.site-title {

}

.footer {
	border-top:1px solid rgba(0,0,0,.05)!important;
	padding-top:15px;
	padding-bottom:12px;
	font-size:0.8rem;
	color:rgba(0,0,0,.44);
	margin-top:50px;
	margin-bottom:62px;
	position: relative;
	background: #fff;
}

.posts {
	margin-top: 30px;
}

.post {
	border-top:1px solid rgba(0,0,0,.05);
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-title {
	margin-top: 10px;
}

span.post-date {
	display:inline-block;
	color:rgba(0,0,0,.44);
}

.maxthumb {
	max-height:300px;
	overflow:hidden;
}

.mb-30px {
	margin-bottom: 30px;
}